node_modules/**/*
.expo
.vscode
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
node_modules


# macOS
.DS_Store
app/tests/LoginScreen.test.js
firebase-debug.log
app/tests/LoginScreen.test.js
yarn-error.log
yarn-error.log
yarn-error.log
